body {
  background-color: #000;
  color: #00ff9f;
  font-family: 'Chiron Sung HK', serif;
  text-align: center;
  margin: 0;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
