    body {
      background: #121212;
      color: #00ff00;
      font-family: "Chiron Sung HK", serif;
      font-optical-sizing: auto;
      font-weight: <weight>;
      font-style: normal;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      height: 100vh;
      margin: 0;
      text-align: center;
    }
