<footer>
    <div class="footer-content">
        <p>&copy; 2023 Mario Curras Murillo. All rights reserved.</p>
        <ul class="socials">
            <li><a href="https://www.linkedin.com/in/mario-curras-murillo" target="_blank">LinkedIn</a></li>
            <li><a href="https://github.com/mariocurras" target="_blank">GitHub</a></li>
            <li><a href="https://twitter.com/mariocurras" target="_blank">Twitter</a></li>
        </ul>
    </div>
    <div class="footer-bottom">
        <p>Designed with passion and dedication.</p>
    </div>
</footer>