body {
    background-color: #000000;
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
    color: #ffffff;
}

.cover-container {
    display: flex;
    flex-direction: column;
    align-items: right;
    justify-content: center;
    height: 100vh;
    text-align: center;
    color: #333;
}

div {
    display: grid;
    justify-content: right;
    align-items: center;
    height: 30%;
}

img {
    width: 50%;
    position: fixed;
}

.cover-title {
    font-size: 3em;
    margin-bottom: 20px;
    font-weight: bold;
}

.cover-subtitle {
    font-size: 1.5em;
    margin-bottom: 40px;
}

.cover-button {
    padding: 10px 20px;
    font-size: 1em;
    color: #fff;
    background-color: #007bff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.cover-button:hover {
    background-color: #0056b3;
}

.cover-image {
    max-width: 100%;
    height: auto;
    margin-top: 20px;
}

