body {
    margin: 0;
    font-family: 'Arial', sans-serif;
    color: #333;
}

header {
    background: #007bff;
    color: #fff;
    padding: 20px 0;
    text-align: center;
}

h1 {
    font-size: 2.5em;
    margin: 0;
}

h2 {
    font-size: 1.5em;
    margin: 10px 0;
}

.Sobre_mi:hover img {
    background: url("../../../MCM.portfolio_Sobre_mí_hover.png");
}    

.container {
    width: 80%;
    margin: auto;
    overflow: hidden;
}

.menu {
    padding-top: 350px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width:25%;
    margin:auto;
    position: relative;
    z-index: 2;
    columns: 4;
}

video {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object_fit: cover;
}
    
.section {
    padding: 20px;
    margin: 20px 0;
    background: #fff;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.footer {
    text-align: center;
    padding: 10px 0;
    background: #007bff;
    color: #fff;
    position: relative;
    bottom: 0;
    width: 100%;
}
